@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #090E17;
    color: #F8FAFC;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-wrap: break-word;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
    color: inherit;
    font-weight: 700;
  }
}

/* Lenis Buttery Smooth Scroll Setup */
html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Custom Scrollbar for technical clean-room look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #090E17;
}
::-webkit-scrollbar-thumb {
  background: #1E293B;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}